
dist
.solid
.output
.vercel
.netlify
netlify
.vinxi

# Environment
.env
.env*.local
/mysqldata

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
.github

# System Files
.DS_Store
Thumbs.db

# PWA
# **/public/sw.js
**/public/sw.js.map
**/public/service-worker.js
**/public/service-worker.js.map
**/public/worker-*.js
**/public/workbox-*.js
**/public/worker-*.js.map
**/public/workbox-*.js.map
