.postContainer{
    width: 40rem;
    min-height: auto;
    background: #171717;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    cursor: pointer;
    text-decoration: none;
}

.postContainer > p{
    align-self: flex-start;
    margin: 0;
    font-size: 0.8rem;
    color: #585858;
}

.title{
    color: white;
    font-size: 0.85rem;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #585858;
    font-size: 0.8rem;
}

.details p:nth-child(1){
    color: #F8A130;
}

@media screen and (max-width: 700px) {
    .postContainer{
        width: 100%;
        height: auto;
    }
}